<h1 class="text-center mb-5">Statistics</h1>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non beatae reiciendis eos. Ipsum, sint quisquam dolorum accusamus fuga
  sapiente perspiciatis? Neque, laudantium suscipit totam voluptatem accusantium a exercitationem excepturi quia debitis laborum
  quod alias ex asperiores itaque, quos eos vero saepe voluptate obcaecati, temporibus aliquid. Quidem temporibus magnam illo,
  quas pariatur sequi eveniet reprehenderit, non, consequuntur eum iusto tenetur. Fuga nisi distinctio quae laboriosam quasi ipsa,
  obcaecati sit, eius iste blanditiis repudiandae! Commodi quo, obcaecati dolorem beatae voluptatibus velit nobis ipsum
  perspiciatis. Perferendis porro incidunt nemo ipsam odio inventore quae perspiciatis laudantium? A quae error libero! Corrupti
  eos eaque laborum, ab vitae quis libero quod voluptates voluptatum, fugit blanditiis ullam beatae eius laudantium aperiam ad
  mollitia magni fugiat doloremque id repudiandae, ipsa omnis quasi impedit. Deleniti, aut! Odio, doloribus inventore dolorum
  nesciunt voluptates voluptate cumque pariatur expedita a animi quaerat doloremque tenetur et eum molestiae tempore. Voluptate
  reprehenderit ea nostrum libero recusandae quos earum, rerum cupiditate porro repellendus placeat nesciunt quae omnis corporis
  sint odio quo sunt esse molestias! Atque dolorum illo quisquam eum, exercitationem eaque iusto qui quos itaque excepturi?
  Tempora ab sint ex, aliquid provident esse harum maxime natus praesentium corrupti dignissimos repellendus. Ratione asperiores
  voluptas iure reprehenderit.
</p>
